/* 
    Document   : tables
    Created on : Feb 2, 2010, 1:43:15 PM
    Author     : nlcadmin
    Description:
        Purpose of the stylesheet follows.
*/


table.headerTable td,th{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    border-color: #600;
    border-width: 0 0 1px 1px;
    border-style: solid;
}
table.headerTable td,th{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

table.headerTable td{
    color: #000000;
    background-color:#FFFFFF;
}

table.headerTable caption{
    font-size: 14px;
    background-color: #003366;
    color: #FFFFFF;
    font-weight: bold;
    text-align:center;
}

table.headerTable th{
    text-align:left;
    color: #000000;
    background-color: #CCECFF;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:bold;
}

table.detailTable{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    background-color:#FFFFFF;
    border-color: #600;
    border-width: 1px;
    border-style: solid;
}

table.detailTable td{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    background-color:#FFFFFF;
    padding:5px 0px 5px 0px;
    text-align:left;
}

table.detailTable thead th {
    background-color:#CCECFF;
    text-align:center;
    color: #000000;
    padding:5px;
    font-weight:bold;
}

table.detailTable th{
    text-align:center;
    font-weight:bold;
    padding:5px;
}

table.detailTable caption{
    font-size: 14px;
    background-color: #003366;
    color: #FFFFFF;
    font-weight: bold;
    text-align:center;
}

table.reportTable{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    border: 1px solid #FFF;
    border-collapse: collapse;
    /* background-color:#ffffff;*/
    border-spacing: 1px;
}
table.reportTable td{
    border: 1px solid #D3D3D3;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    /* background-color:#e6eff5;*/
    padding:5px 0px 5px 0px;
    text-align:left;
    border-spacing: 1px;
}

table.reportTable thead th {
    background-color:#CCECFF;
    text-align:center;
    color: #000000;
    padding:5px;
    font-weight:bold;
    border: 1px solid #D3D3D3;
}

table.reportTable th{
    text-align:center;
    font-weight:bold;
    padding:5px;
}

table.reportTable caption{
    font-size: 14px;
    background-color: #003366;
    color: #FFFFFF;
    font-weight: bold;
    text-align:center;
}
table.reportTable tr odd{
    background-color: #003366;
}

